body {
  background-color: #f5f5f5;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

div.backBtn {
  width: 100px;
  left: 30px;
  top: 20px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: absolute;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
    background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  color: #000;
  font-weight: 800;
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 18px;
  font-family: "Indie Flower", cursive;
}

div.backBtn:hover span.label {
  left: 25px;
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #000;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}

#rules {
  color: #ba0404;
  font-size: 2em;
  text-decoration: underline;
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  font-family: "Indie Flower", cursive;
  border: 1px solid #dedede;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 5px;
  float: left;
  height: 110vh;
  overflow: hidden;
  margin-left: 40px;
  margin-right: 40px;
}
